
#aliSearchAddon {
	z-index: 1000;
	position: fixed;
	top: 8px;
	left: 8px;
	padding: 8px;
    width: 32px;
    height: 32px;
    background-color: #555;
    overflow: hidden;
}

#aliSearchAddon:hover
{
    width: auto;
    height: auto;
}

#aliSearchAddon #btnUnitPrice {
	
}

#aliSearchAddon .as-button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
#aliSearchAddon .as-button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
#aliSearchAddon .as-button:hover {
    background-color: #3e8e41;
}